#options {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#root {
    border: 1px solid $border;
    min-width: 400px;
    max-width: 600px;
    width: 100%;
    margin: $var;
    box-sizing: border-box;
    box-shadow: long-shadow(
        $direction: to right bottom,
        $length: 1000px,
        $color: #f0f0f0
    );
}
h1 {
    font-weight: normal;
    font-variant-caps: all-small-caps;
    strong {
        color: #999;
    };
}
#really {
    display: none;
}
#add {
    border-bottom: 1px solid $border;
}
input#frequency {
    padding: 0px;
    width: $var*2;
    text-align: center;
}
#reminders {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 600px;
    overflow: scroll;
    &:-webkit-scrollbar {
        display: none;
    }
    li {
        padding: $var;
        border-bottom: 1px solid $border;
        &:last-child { 
            border-bottom: 0px;
        }
        &:hover {
            background: $bg-hover;
        }
        .options {
            float: right;
        }
        .fa {
            color: $icon;
            margin-left: $var;
            &:hover {
                color: $icon-hover;
                cursor: pointer;
            }
        }
    }
}
#credit {
    position: fixed;
    top: 0;
    left: 0;
    padding: $var/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        padding: 5px;
        color: $icon;
        &:hover {
            color: $icon-hover;
        }
    }
}

@media only screen and (max-width: 500px) {
    #title {
        strong {
            display: block;
        }
    }
}

@media only screen and (max-width: 400px) {
    #really {
        display: block;
    }
    #title,
    #root {
        display: none;
    }
}